<h1>Student Form</h1>

<%= form_tag new_student_path do %>
    <label>Student Name:</label><br>
    <%= text_field_tag :'student[first_name]' %>
    <%= text_field_tag :'student[last_name]' %>
    <%= submit_tag "Submit Student" %>
<% end %>
<br>
<%= @student.to_s %>
